body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #f5f2ec;
    color: #2c2c2c;
}

/* Trinity Image */
.trinity {
    text-align: center;
    padding: 20px;
}

.trinity img {
    max-width: 300px;
    width: 90%;
    border-radius: 8px;
}

/* Navigation */
nav {
    background-color: #e6dfd1;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* Welcome */
main {
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

.welcome h1 {
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 18px;
    line-height: 1.6;
}

/* Reel */
.reel {
    margin-top: 50px;
}

/* Footer */
footer {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

footer a {
    color: #4a5a4a;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.am {
    margin: 1%;
    background-color: rgb(224, 228, 164);
}
.raga-choice {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.raga-card {
    text-decoration: none;
    color: #2c2c2c;
    background-color: #e6dfd1;
    padding: 40px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.2s;
}

.raga-card:hover {
    transform: scale(1.05);
}
.janya-list {
    max-width: 700px;
    margin: 50px auto;
    padding: 0;
    list-style-position: inside;
    font-size: 18px;
    line-height: 2;
}
.raga-structure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 40px 0;
}

/* Left text block */
.raga-text {
    flex: 1;
    font-size: 18px;
    line-height: 1.8;
}

/* Right image block */
.raga-keyboard {
    flex: 1;
    text-align: center;
}

.raga-keyboard img {
    max-width: 100%;
    height: auto;
}

.caption {
    font-size: 14px;
    color: #555;
    font-style: italic;
    margin-top: 8px;
}
@media (max-width: 768px) {
    .raga-structure {
        flex-direction: column;
        text-align: center;
    }
}
.Mela{
    border-collapse: collapse;
    width: 100%;
    

}
th,td{
    padding: 0px;
    border: 5px solid #000;
}
tr{
    border-bottom: 1px solid #000 ;
}
/* green border*/
.pm{
    border-left: 5px solid #0ee3ff;
}
.info{
    text-align: center;
}
